/web/bundles/
/app/bootstrap.php.cache

# le cache est inutile pour une synchro 
/app/cache/*

/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea
