@import './fonts.css';
/* Full Page */
body {
    background-color: #262b2d;
    color: white;
}
p{
    font-family: gilsans;
    font-size: 15px;
}
.titlestyle{
    font-family: Gillsans;
    text-transform: uppercase;
    color: white;
}
.barre{
    width: 85px;
    border-top: 1px solid white;
    margin-bottom: 40px;
    margin-top: 40px;
}
a:hover{
    text-decoration: none;
}
/* END Full Page */
/* Nav / Slider */
/* Nav-Left */
.menu{
    position: fixed;
    z-index: 20;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 90px;
    background-color: #262b2d;
    border-right: 1px solid grey;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.menu .box-nav-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    line-height: 90px;
    border-bottom: 1px solid grey;
    color: #000;
    padding: 0px;
}
.menu .box-nav-bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    line-height: 90px;
    border-top: 1px solid grey;
    color: #000;
    padding: 0px;
}
.menu .ico-nav{
    margin-bottom: 25px;
    margin-left: 30px;
    height: 25px;
}
.menu ul.nav-left{
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 90px;
    color: #000;
    padding: 0px;
}
.menu .ico-nav-left{
    margin-bottom: 25px;
    margin-left: 30px;
    height: 25px;
}

.menu li a {
    padding: 0 15px 0 100px;
    height: 63px;
    line-height: 90px;
    font-size: 0.90em;
    display: block;
    text-align: left;
    color: grey;
    font-family: Gillsans;
    font-weight: 300;
    width: 260px;
}
.menu li a:hover{
    color: #fff;
    text-decoration: none;
}
.menu li#about a {
    background: url(../images/icons/a-propos.png) no-repeat 30px 25px;
}
.menu li#find a {
    background: url(../images/icons/recherche.png)no-repeat 30px 25px;
}
.menu li#profil a {
    background: url(../images/icons/profil.png)no-repeat 30px 25px;
}
.menu li#books a {
    background: url(../images/icons/touslesbooks.png)no-repeat 30px 25px;
}
.menu li#expo a {
    background: url(../images/icons/expovirtuel.png)no-repeat 30px 25px;
}
.menu li#shop a {
    background: url(../images/icons/boutique.png)no-repeat 30px 25px;
}
.menu li#contact a {
    background: url(../images/icons/contact.png)no-repeat 30px 25px;
}
.menu li#cvg a {
    background: url(../images/icons/cvg.png)no-repeat 30px 25px;
}
.menu li#share a {
    background: url(../images/icons/share.png)no-repeat 30px 25px;
}
.menu li#back-top a {
    background: url(../images/icons/menu.png)no-repeat 30px 25px;
}
/* END Nav-Left */
.logo {
    background: url(../images/logo.png);
    position: absolute;
    z-index: 3;
    height: 52px;
    width: 102px;
    margin-top: 77px;
    margin-left: 48%;
}
/* Slider */
.slider{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}
.slider img {
    width: 100%;
    height: 100% !important;
    margin-left: 80px;
}
.item{
    background: #333;
    text-align:center;
    height: 567px !important;
}
.logo-nae{
    background: url(../images/logo.png) no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 90px;
    margin-left: 45%;
}
.slider h1{
    font-family: 'DubielItalic', helvetica;
    font-size: 140px;
    position: relative;
    bottom: 115px;
}

.slider h3{
    font-family: 'gilsans', helvetica;
    position: relative;
    bottom: 120px;
    color: rgba(255, 255, 255, 0.7);
}

.slider button {
    position: relative;
    bottom: 75px;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 0px;
}

.btn-art{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 1);
}
/* END Slider */
/* Nav Horizontal */
.nav-horizontal{
    height: 76px;
    background-color: #262b2d;
    text-align: center;
    margin-right: 0px;
    margin-left: 70px;
}

.nav-horizontal h4 {
    font-size: 14px;
}
.navboutique, .navexpovirtuel, .navcoupcoeur {
    border-right: solid 1px #434749;
    border-bottom: solid 1px #434749;
    background-color: #262b2d;
    padding-top: 10px;
}
.grey{
    color: grey;
}
.grey:hover{
    color: #FFF;
    text-decoration: none;
}
/* END Nav Horizontal */
/* END Nav / Slider */
/* What is NAE */
.presnae{
    margin-top: 125px;
    margin-bottom: 75px;
}
.presnae h1{
    font-family: DubielItalic;
    font-size: 4em;
    color: grey;
}
.content{
    font-size: 1.4em;
    font-family: Gillsans;
}
.undercontent{
    color: grey;
    font-family: Gillsans;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* END What is NAE */

/* Parallax */

.savoirplus {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 6.333333%;
    width: 93.666667%;
}
.parallax {
    background: url("../images/parallax.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bacground-size: cover;
    -o-background-size: cover;
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.parallax button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    text-transform: uppercase;
    font-family: Gillsans;
    font-size: 1.2em;
}

.parallax a:hover{
    text-decoration: none;
}
/* END Parallax*/

/* News */
.news{
    margin-top: 125px;
}

.news h1{
    font-family: DubielItalic;
    font-size: 4em;
    color: grey;
}

.newsarticle{
    font-family: Gillsans;
}

.newsarticle h2{
    font-size: 2em;
}

.newsarticle h3{
    font-size: 1.5em;
}

.newsarticle p{
    font-size: 1.2em;
    color: grey;
}

.newsarticle a{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.newsarticle a:hover{
    text-decoration: none;
}

.newsbutton{
    margin-top: 75px;
}

.newsbutton button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Gillsans;
    font-size: 1.4em;
}

/* END News */


/* Artiste du jour /oeuvre du jour */

.artisteandoeuvre{
    margin-left: 75px;
}
.artiste {
    background: url("../images/backgrounds/artiste-du-jour.jpg");
    background-size: cover;
    height: 310px;


}
.oeuvredujour {
    background: url("../images/backgrounds/oeuvre-du-jour.jpg");
    background-size: cover;
    height: 310px;

}

/* END Artiste du jour */


/* Rechercher un artiste */

.search{
    margin-top: 150px;
}

.search input{
    background-color: #262b2d;
    border: 1px solid grey;
    border-radius: 0;
    height: 75px;
    font-size: 1.3em;
    font-family: Gillsans;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 40px;
    color: white;
}

.search button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Gillsans;
    font-size: 1.4em;
}

.submitrighttablet {
    display: none;
}

/* END Rechercher un artiste */




/* Footer */

/* END Footer */


/*-----------------*/
/* CSS Profil Page */
/*-----------------*/


header.profile {
    text-align: center;
    color: #fff;
    background: url(../images/backgrounds/bg-header-profil.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom: 23px;
    padding-top: 35px;
}

.img-circle{
    width: 140px;
    height: 140px;
}


/* Container-Profile */
.containerProfile{
    padding-left: 10%;
    padding-right: 10%;
}
div.container-social{
    margin: 0 auto;
}
/* End Container-Profile */
.img-padding{
    padding: 2px 2px 2px 2px ;
}

.actualityText{
    margin-top: 15px;
    margin-bottom: 10px;
}
.dateProfile{
    font-size: 12px;
    color: #5d5F5F;
}
ul.social-buttons>li>a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #5d5F5F;
    font-size: 28px;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
/* btn */
.btn-space{
    margin-bottom: 25%;
}
/* image */
.image-size{
    display: inline-block;
    box-sizing: border-box;
}
.image-1{
    height: 370px;
    width: 20%;
}
.image-2{
    height: 370px;
    width: 40%;
}
.image-3{
    height: 370px;
    width: 39%;
}
.image-4{
    height: 300px;
    width: 70%;
}
.image-5{
    height: 300px;
    width: 29%;
}
/* end image */
.actualityLien{
    color : #5d5F5F;
}

.actualityLien:hover{
    color : #39b3d7;
}
/* Font */

.name{
    font-family: DubielItalic;
    font-size: 45px;
    color : #5d5F5F;
}
.surname{
    font-size: gillsans;
    font-size: 46px;
    margin-top: 1px;
}
.contactProfile{
    letter-spacing: 0.01em;
    color: rgba(255,255,255, 0.63);
    line-height: 0;
    padding-bottom: 15px;
    font-size: 10px;
}
.profileTitle{
    font-family: DUBIEL;
    font-size: 40px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 31px;
}
.profileTitleActuality{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 18px;
}
.profileTitleOeuvre{
    margin-bottom: 5%;
    margin-top: 10%;
    font-size: 18px;
}
.subtitleTextActuality{
    font-weight: bold;
}
/* Menu Profil */
ul.menuPortfolio>li{
    display: inline;
}
ul.menuPortfolio>li>a{
    color: #5e5e5e
}
ul.menuPortfolio>li:hover{
    color: #5e5e5e;
    background-color: #f5f5f5;
}

.menuPortfolio{
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
    text-align: center ;
}

/*-- en Attendant la màj sur les balises "li" et "a" --*/
.activeProfile{
    padding: 4px 4px 4px 4px;
    background-color: #f5f5f5;
    border-radius: 3px;
    color: #262B2D;
}
.inlineOption{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.spacingTopProfile{
    margin-top: 20px;
}
.spacingBottomProfile{
    margin-bottom: 7%;
}
/*-------------------*/
/*---- Fin profil -- */
/*-------------------*/


/*---------------------*/
/*--- PAGE BOOKS ------*/
/*---------------------*/

/* Partie haute */
.books{
    margin-top: 100px;
    margin-bottom: 100px;
}

.books h1{
    font-family: DubielItalic;
    font-size: 3.8em;
    color: grey;
}

.searchbooks{
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
}

.searchbooks input{
    font-family: DubielItalic;
    font-size: 2em;
    color: white;
    background-color: #262b2d;
    border: none;
}

.iconloupe{
    padding-left: 0;
}

.dropdown button{
    background-color: #1b2021;
    border: 1px solid grey;
    border-radius: inherit;
    color: white;
    font-family: Gillsans;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown .dropdown-menu{
    background-color: #1b2021;
    font-family: Gillsans;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dropdown2 button{
    width:250px;
    text-align: left;
    border: inherit;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: #262b2d;
    font-size: 1.5em;
}

.dropdown3 button{
    width: 250px;
    text-align: left;
    border: inherit;
    border-bottom: 1px solid grey;
    background-color: #262b2d;
    font-size: 1.5em;
}

/*.contentbooks{
    height: 0;
}
.contentbooks div{
    bottom: 100px;
    position: relative;
    z-index: 1;
}

.contentbooks:hover{
    display: none;
}*/

.imagebooks div{ /* Enlève le padding auto du Bootstrap + réduit opacité */
    padding: 1px;
    opacity: 0.75;
}

.imagebooks div:hover{
    opacity: 1;
}

.white{
    color: white;
}

.white:hover{
    color: black;
}

/* End Partie haute */

/* Filtres + photos */
.filtre p{
    font-family: Gillsans;
    font-size: 1.2em;
    margin-bottom: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

        /* Hover Image */
/*.zoom {
    display:block;
    position:relative;
    overflow:hidden;
}
*/

.zoomOverlay {
    position:absolute;
    top:50px; bottom:50px;
    left:78px; right:50px;
    display:none;
    background-image:url(../images/icons/eye.png);
    background-repeat:no-repeat;
    background-position:center;
}

.zoom2 {
    opacity: 1;
}

.zoom2:hover {
    opacity: 0.5;
}
        /* End Hover Image

/* End Filtres + photos */

/* Responsive  - @media - " à consommer avec modération :)" */

@media screen and (max-width: 769px) /* Phone */
{
    /* Menu */
    .menu{
        position: relative;
        width: 100%;
        background-color: #262b2d;
        border-right: none;
        border-bottom: 1px solid grey;
        overflow: hidden;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        z-index: 15;
    }

    .menu .box-nav-top{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        line-height: 90px;
        color: #000;
        padding: 0px;
    }
    .menu .box-nav-bottom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        line-height: 90px;
        border-top: 1px solid grey;
        color: #000;
        padding: 0px;
    }
    .menu .ico-nav{
        margin-bottom: 25px;
        margin-left: 30px;
        height: 25px;
    }
    .menu ul.nav-left{
        /*list-style-type: none;*/
        /*display: block;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*margin-bottom: 0px;*/
        /*line-height: 90px;*/
        /*color: #000;*/
        /*padding: 0px;*/
        display: none;
    }
    .menu .ico-nav-left{
        margin-bottom: 25px;
        margin-left: 30px;
        height: 15px;
    }

    .menu ul li {
        border-bottom: 1px solid grey;
        padding-bottom: 20px !important;
        margin-bottom: 0px;
    }
    .menu li a {
        padding: 0 15px 20px 100px;
        line-height: 90px;
        font-size: 0.90em;
        display: block;
        text-align: left;
        color: grey;
        font-family: Gillsans;
        font-weight: 300;
        width: 260px;
    }
    .menu li a:hover{
        color: #fff;
        text-decoration: none;
    }

    .box-nav-bottom {
        display: none !important;
    }

    /* logo */
    .logo {
        margin-left: 43%;
    }
    /* slider */
    .item img {
        margin-left: 0px;
    }
    .galeriedesktop{
        display: none;
    }

    .galeriemobile{
        display: block;
        margin-left: 100px;
    }

    .slider h1 {
        font-size: 74px;
        bottom: 160px;
    }
    .slider h3 {
        bottom: 170px;
    }

    .slider button {
        bottom: 90px;
    }
    /* nav horizontal*/
    .nav-horizontal {
      margin-left: 0px;
    }

    /*artiste/oeuvredujour*/
    .artisteandoeuvre {
        margin-top: 20px;
        margin-left: -15px;
    }

    /* image profile */
    .img-recent{
        height: 300px;
        width: 100%;
        margin-bottom: 15%;
    }

}

@media screen and (max-width: 992px) /* Point de changement de taille menu horizontale */
{
    .presnae{
        margin-top : 250px;
    }

    .submitrighttablet {
        display: block;
    }

    .submitrightdesktop{
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) /* Tablet */
{
    /* Menu */
    .menu:hover {
        background-color: #262b2d;
        width: 280px;
    }

    .contentartiste1{
        position: relative;
        z-index: 2;
        bottom: 700px;
        font-family: Gillsans;
        text-align: left;
        padding-right: 15px;
    }

    .contentartiste{
        position: relative;
        z-index: 2;
        font-family: Gillsans;
        text-align: left;
        padding-right: 15px;
        margin-left: 100px;
    }
    /* logo */
    .logo {
        margin-left: 43%;
    }
    /* slider */
    .item img {
        margin-left: 0px;
    }
    .galeriedesktop{
        display: none;
    }

    .galeriemobile{
        display: block;
        margin-left: 100px;
    }

    .slider h1 {
        font-size: 74px;
        bottom: 160px;
    }
    .slider h3 {
        bottom: 170px;
    }

    .slider button {
        bottom: 90px;
    }
    /* image profile */
    .img-recent{
        height: 160px;
        width: 100%;
        margin-bottom: 15%;
    }
}

@media (min-width: 992px) and (max-width: 1169px) /* Desktop */
{
    /* Menu */
    .menu:hover {
        background-color: #262b2d;
        width: 280px;
    }

    .contentartiste{
        position: relative;
        z-index: 2;
        bottom: 300px;
        font-family: Gillsans;
        text-align: left;
        padding-right: 15px;
    }
    /* logo */
    .logo {
        margin-left: 43%;
    }
    /* slider */
    .item img {
        margin-left: 0px;
    }
    .galeriedesktop{
        display: none;
    }

    .galeriemobile{
        display: block;
        margin-left: 100px;
    }

    .slider h1 {
        font-size: 74px;
        bottom: 160px;
    }
    .slider h3 {
        bottom: 170px;
    }

    .slider button {
        bottom: 90px;
    }
    /* image profile */
    .img-recent{
        height: 130px;
        width: 100%;
        margin-bottom: 15%;
    }
}

@media (min-width: 1170px) /* Large desktop */
{
    /* Menu */
    .menu:hover {
        background-color: #262b2d;
        width: 280px;
    }

    /* image profile */
    .img-recent{
        height: 130px;
        width: 100%;
        margin-bottom: 15%;
    }
}


/* END Responsive */

