@import './fonts.css';

/* Full Page */

body {
    background-color: #262b2d;
    color: white;
}

.titlestyle{
    font-family: Gillsans;
    text-transform: uppercase;
    color: white;
}

.barre{
    width: 85px;
    border-top: 1px solid white;
    margin-bottom: 40px;
    margin-top: 40px;
}
a:hover{
    text-decoration: none;
}

/* End Full Page */


/* Nav / Slider */

.menu{
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #262b2d;
    border-right: 1px solid grey;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
.menu:hover {
    background-color: #262b2d;
    width: 280px;
}
.box-nav-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    line-height: 90px;
    border-bottom: 1px solid grey;
    color: #000;
    padding: 0px;
}
.box-nav-bottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    line-height: 90px;
    border-top: 1px solid grey;
    color: #000;
    padding: 0px;
}
.ico-nav{
    margin-bottom: 25px;
    margin-left: 30px;
    height: 25px;
}
ul.nav-left{
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 90px;
    color: #000;
    padding: 0px;
}
.ico-nav-left{
    margin-bottom: 25px;
    margin-left: 30px;
    height: 25px;
}
li a {
    padding: 0 15px 0 100px;
    height: 63px;
    line-height: 90px;
    font-size: 0.90em;
    display: block;
    text-align: left;
    color: grey;
    font-family: Gillsans;
    font-weight: 300;
    width: 240px;
}
li a:hover{
    color: #fff;
    text-decoration: none;
}
li#about a {
    background: url(../images/icons/a-propos.png) no-repeat 30px 25px;
}
li#find a {
    background: url(../images/icons/recherche.png)no-repeat 30px 25px;
}
li#profil a {
    background: url(../images/icons/profil.png)no-repeat 30px 25px;
}
li#books a {
    background: url(../images/icons/touslesbooks.png)no-repeat 30px 25px;
}
li#expo a {
    background: url(../images/icons/expovirtuel.png)no-repeat 30px 25px;
}
li#shop a {
    background: url(../images/icons/boutique.png)no-repeat 30px 25px;
}
li#contact a {
    background: url(../images/icons/contact.png)no-repeat 30px 25px;
}
li#cvg a {
    background: url(../images/icons/cvg.png)no-repeat 30px 25px;
}
li#share a {
    background: url(../images/icons/share.png)no-repeat 30px 25px;
}
li#back-top a {
    background: url(../images/icons/menu.png)no-repeat 30px 25px;
}
.slider {
    padding-left: 0px;
    padding-right: 0px;
}
.slider .item img {
    width: 100%;
    height: 567px;
}
.nav-horizontal{
    height: 76px;
    background-color: #262b2d;
    text-align: center;
}
.navboutique, .navexpovirtuel, .navcoupcoeur {
    border-right: solid 1px #434749;
    border-bottom: solid 1px #434749;
    background-color: #262b2d;
    padding-top: 10px;
}
.grey{
    color: grey;

}
.grey:hover{
    color: #FFF;
    text-decoration: none;
}
.btn-art{
    position: absolute;
    z-index: 3;
    color: #fff;
    margin-top: 37%;
    margin-left: 43%;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 1);
}

/* End Nav / Slider */


/* What is NAE */

.presnae{
    margin-top: 125px;
    margin-bottom: 75px;
}

.presnae h1{
    font-family: DubielItalic;
    font-size: 4em;
    color: grey;
}

.content{
    font-size: 1.4em;
    font-family: Gillsans;
}

.undercontent{
    color: grey;
    font-family: Gillsans;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* End What is NAE */


/* Parallax */
.parallax {
    background: url("../images/3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.parallax button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    text-transform: uppercase;
    font-family: Gillsans;
    font-size: 1.2em;
}

.parallax a:hover{
    text-decoration: none;
}
/* End Parallax*/

/* News */
.news{
    margin-top: 125px;
}

.news h1{
    font-family: DubielItalic;
    font-size: 4em;
    color: grey;
}

.newsarticle{
    font-family: Gillsans;
}

.newsarticle h2{
    font-size: 2em;
}

.newsarticle h3{
    font-size: 1.5em;
}

.newsarticle p{
    font-size: 1.2em;
    color: grey;
}

.newsarticle a{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.newsarticle a:hover{
    text-decoration: none;
}

/* End News */


/* Artiste du jour */

/* End Artiste du jour */


/* Rechercher un artiste */

.search{
    margin-top: 150px;
}

.search input{
    background-color: #262b2d;
    border: 1px solid grey;
    border-radius: 0;
    height: 75px;
    font-size: 1.3em;
    font-family: Gillsans;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 40px;
    color: white;
}

.search button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: Gillsans;
    font-size: 1.4em;
}
/* End Rechercher un artiste */


/* Galerie */

/* End Galerie */


/* Footer */

/* End Footer */



/* Responsive  - @media - " à consommer avec modération :)" */

@media screen and (max-width: 767px) /* Phone */
{

}

@media (min-width: 768px) and (max-width: 991px) /* Tablet */
{

}

@media (min-width: 992px) and (max-width: 1169px) /* Desktop */
{

}

@media (min-width: 1170px) /* Large desktop */
{

}


/* End Responsive */
