{# Include #}
{{ include("NAEPlateformBundle:Expo:header.html.twig") }}


{# Nav-Left #}
{{ include("NAEPlateformBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}


{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topcontact">
            <h1 class="text-center"><span class="titlestyle"> Contact</span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 contact">

            <p class="text-center">Tantum autem cuique tribuendum, primum quantum ipse efficere possis,
                deinde etiam quantum ille quem diligas atque adiuves, sustinere. Non enim neque tu possis,
                quamvis excellas, omnes tuos ad honores.
            </p>

        </div>
    </div>
</div>

{{ form.form }}
{# footer #}

{{ include("NAEPlateformBundle:Expo:footer.html.twig") }}
