
        <footer>
                <div class="row footer">
                    <div class="col-md-11 col-md-offset-1">
                        <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <h6 style="text-align: center; padding-bottom: 20px;">&copy; New Art Expo 2012 Tous droits réservés</h6>
                    </div>
                </div>
        </footer>

        <script src="{{ asset('bundles/naeplateform/js/classie.js') }}"></script>
        <script src="{{ asset('bundles/naeplateform/js/modalEffects.js') }}"></script>
</html>

